@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #802626;

    --font-krona: "Krona One", sans-serif;
    --font-montserrat: "Montserrat", sans-serif; 
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--font-montserrat);
    font-size: 24px;
}

.cabecalho__menu__link:hover{
    color: #9D2F2F;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.h1-destacado {
    color:  var(--cor-terciaria);
}
.apresentacao{
    padding: 4% 15%;
    display: flex;
    gap: 58px;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 82px;
    text-align: left;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-krona);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.6rem;
    font-family: var(--font-montserrat); 
}

.apresentacao__img{
    width: 50%;
}

.apresentacao__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__subtitulo{
    font-family: var(--font-krona);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__link__botao { 
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    padding: 16px 0px;
    text-decoration: none;
    font-family: var(--font-montserrat);
    font-weight: 600;
    color: var(--cor-secundaria);
    border: 4px solid var(--cor-terciaria);
    gap: 16px;
}

.apresentacao__link__botao:hover{
    background-color: #272727;
}

.rodape {
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    padding: 24px 0px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__link__botao {
        width: 90%;
    }
}